<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Máxima Análises Clínicas | DashBoard</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Máxima</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">OS</a></li>
            <li><a href="#">Pacientes</a></li>
            <li><a href="#">Convênios</a></li>
        </ul>
    </div>
</nav>
<div class="container">

    <i class="large material-icons">description</i>

    <i class="large material-icons">person_add</i>

    <i class="large material-icons">local_hospital</i>
</div>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>